## Financial Phrasebank Dataset Cleaning

In [30]:
with open("data/Sentences_AllAgree.txt", 'r') as f:
    lines = f.readlines()

with open("data/Sentences_50Agree.txt", 'r') as f:
    lines2 = f.readlines()

with open("data/Sentences_66Agree.txt", 'r') as f:
    lines3 = f.readlines()

with open("data/Sentences_75Agree.txt", 'r') as f:
    lines4 = f.readlines()

In [6]:
lines[0].split(".@")[1].replace("\n", "")

'neutral'

In [7]:
hello = [1,2,3]
h = hello.pop()
hello

[1, 2]

In [34]:
lines4[100:110]

["The fair value of the company 's investment properties grew to EUR 2.803 billion at the end of March 2009 from EUR 2.691 million a year ago .@positive\n",
 'The last quarter was the best quarter of 2009 in net sales , and the operating margin rose to 12.2 % .@positive\n',
 'The major breweries increased their domestic beer sales by 4.5 per cent last year , to 256.88 million litres from 245.92 million litres in 2004 .@positive\n',
 'The transaction doubles Tecnomens workforse , and adds a fourth to their net sales .@positive\n',
 '- Operating profit rose by 26.9 % to EUR 105.8 ( 83.4 ) million .@positive\n',
 '`` After this purchase , Cramo will become the second largest rental services provider in the Latvian market .@positive\n',
 "`` The purchase of the operations is part of YIT 's strategy to expand its offering of building system services geographically . ''@positive\n",
 '21 October 2010 - Finnish fishing tackle company Rapala VMC Corp ( HEL : RAP1V ) said today its net profit rose to EUR18 .9 m for the first nine months of 2010 from EUR15 .1 m for the same period a year earlier .@positive\n',
 "According to Finnish Metso Minerals , the value of the company 's orders has gone up to EUR 1.9 bn in 12 months .@positive\n",
 'Finnish Aldata Solution has signed a contract of supply its G.O.L.D. system to two French retail chains .@positive\n']

In [28]:
h = lines2[0].split(".@")
l = h.pop()
h[0]

'According to Gran , the company has no plans to move all production to Russia , although that is where the company is growing '

In [49]:
import pandas as pd

print(f"number of titles {len(lines)}")
print(f"number of titles {len(lines4)}")
print(f"number of titles {len(lines3)}")
print(f"number of titles {len(lines2)}")

all_lines = lines + lines4 + lines3 + lines2  

title_label = []
for line in all_lines:
    line = line.split(".@")
    label = line.pop()
    label = label.replace("\n", "")
    if line:
        line = line[-1].replace("`", "")
        title_label.append([line] + [label])

df = pd.DataFrame(title_label, columns=["titles", "labels"])

number of titles 2264
number of titles 3453
number of titles 4217
number of titles 4846

In [50]:
df

                                                  titles    labels
0      According to Gran , the company has no plans t...   neutral
1      For the last quarter of 2010 , Componenta 's n...  positive
2      In the third quarter of 2010 , net sales incre...  positive
3      Operating profit rose to EUR 13.1 mn from EUR ...  positive
4      Operating profit totalled EUR 21.1 mn , up fro...  positive
...                                                  ...       ...
14416  LONDON MarketWatch -- Share prices ended lower...  negative
14417  Rinkuskiai 's beer sales fell by 6.5 per cent ...   neutral
14418  Operating profit fell to EUR 35.4 mn from EUR ...  negative
14419  Net sales of the Paper segment decreased to EU...  negative
14420  Sales in Finland decreased by 10.5 % in Januar...  negative

[14421 rows x 2 columns]

In [52]:
clean_df = df.drop_duplicates(subset=["titles"], keep="first")

In [54]:
clean_df.reset_index().drop(columns=["index"])

                                                 titles    labels
0     According to Gran , the company has no plans t...   neutral
1     For the last quarter of 2010 , Componenta 's n...  positive
2     In the third quarter of 2010 , net sales incre...  positive
3     Operating profit rose to EUR 13.1 mn from EUR ...  positive
4     Operating profit totalled EUR 21.1 mn , up fro...  positive
...                                                 ...       ...
4717  Bosse added that Trygvesta does not have the f...  negative
4718  Finnish-Swedish Stora Enso does not understand...  negative
4719  The 2015 target for net sales has been set at ...  positive
4720  have notified that as a result of the Company ...  negative
4721  Net sales of the Paper segment decreased to EU...  negative

[4722 rows x 2 columns]

In [56]:
clean_df.to_csv("data/phrasebank.csv", index=False)